<ion-header>
  <ion-toolbar  color="primary">
    <ion-title color="light">Chat</ion-title>
      <ion-button slot="end" color="primary" (click)="closetmMap()">
          <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
<ul>
  <li *ngFor="let mensaje of mensajes">{{mensaje}}</li>
</ul>

</ion-content>
<ion-footer class="ion-footer" padding>
  <ion-item >
<ion-textarea [(ngModel)]="message"></ion-textarea>
<ion-button color="primary" (click)="sendMessage()"><ion-icon name="send" ></ion-icon></ion-button>
  </ion-item>
</ion-footer>
